﻿html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
    line-height: 1.2;
    margin: 0;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}

h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
}

p {
    margin: 0 auto;
    width: 420px;
}

a:active,
a:hover {
    outline: 0;
}

.button {
    display: inline-block;
    margin-top: 2em;
    padding: 0.5em 1em;
    background: #6C2A6A;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    color: #FFF;
}

    .button:before {
        display: inline-block;
        background: #8DCB89;
        margin-right: 1em;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        color: #272925;
    }

@media only screen and (max-width: 420px) {

    body, p {
        width: 95%;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }
}
