﻿* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: 400;
    margin: 0.6em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

a {
    color: inherit;
}


.content {
  padding: 1.5em 1em 2em;
}

.btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 0.4em 1em;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    color: #fff;
    background-color: #000;
    text-align: center;
    transition: .2s ease-out;
    cursor: pointer;
    white-space: nowrap;
}

    .btn:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

.btn-group .btn {
    float: left;
}

.w3-modal {
    z-index: 1;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    .w3-modal:target {
        display: block;
    }

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

.w3-closebtn {
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: inherit;
}

    .w3-closebtn:hover, .w3-closebtn:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


/**/
.w3-badge, .w3-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    text-align: center;
}

.w3-badge {
    border-radius: 50%;
}

.w3-blockquote {
    margin: 0;
    padding: 0.01em 16px;
    border-left: 5px solid #ccc;
    font-style: italic;
}

ul.w3-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    ul.w3-ul li {
        padding: 6px 2px 6px 16px;
        border-bottom: 1px solid #ddd;
    }

        ul.w3-ul li:last-child {
            border-bottom: none;
        }

.w3-image, .w3-tooltip {
    position: relative;
}

    img.w3-image, .w3-image img {
        max-width: 100%;
        height: auto;
    }

    .w3-image .w3-title {
        position: absolute;
        bottom: 8px;
        left: 16px;
        color: #fff;
        font-size: 20px;
    }

.w3-fluid {
    max-width: 100%;
    height: auto;
}

.w3-tooltip .w3-text {
    display: none;
}

.w3-tooltip:hover .w3-text {
    display: inline-block;
}

.w3-tab div {
    display: none;
}

    .w3-tab div:target {
        display: block;
    }



.w3-responsive {
    overflow-x: auto;
}

.w3-container:after, .w3-row:after, .w3-row-padding:after, .w3-topnav:after, .w3-clear:after, .w3-btn-group:before, .w3-btn-group:after {
    content: "";
    display: table;
    clear: both;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-quarter {
    float: left;
    width: 100%;
}

    .w3-col.s1 {
        width: 8.33333%;
    }

    .w3-col.s2 {
        width: 16.66666%;
    }

    .w3-col.s3 {
        width: 24.99999%;
    }

    .w3-col.s4 {
        width: 33.33333%;
    }

    .w3-col.s5 {
        width: 41.66666%;
    }

    .w3-col.s6 {
        width: 49.99999%;
    }

    .w3-col.s7 {
        width: 58.33333%;
    }

    .w3-col.s8 {
        width: 66.66666%;
    }

    .w3-col.s9 {
        width: 74.99999%;
    }

    .w3-col.s10 {
        width: 83.33333%;
    }

    .w3-col.s11 {
        width: 91.66666%;
    }

    .w3-col.s12, .w3-half, .w3-third, .w3-twothird, .w3-quarter {
        width: 99.99999%;
    }

@media only screen and (min-width:601px) {
    .w3-col.m1 {
        width: 8.33333%;
    }

    .w3-col.m2 {
        width: 16.66666%;
    }

    .w3-col.m3, .w3-quarter {
        width: 24.99999%;
    }

    .w3-col.m4, .w3-third {
        width: 33.33333%;
    }

    .w3-col.m5 {
        width: 41.66666%;
    }

    .w3-col.m6, .w3-half {
        width: 49.99999%;
    }

    .w3-col.m7 {
        width: 58.33333%;
    }

    .w3-col.m8, .w3-twothird {
        width: 66.66666%;
    }

    .w3-col.m9 {
        width: 74.99999%;
    }

    .w3-col.m10 {
        width: 83.33333%;
    }

    .w3-col.m11 {
        width: 91.66666%;
    }

    .w3-col.m12 {
        width: 99.99999%;
    }
}

@media only screen and (min-width:993px) {
    .w3-col.l1 {
        width: 8.33333%;
    }

    .w3-col.l2 {
        width: 16.66666%;
    }

    .w3-col.l3, .w3-quarter {
        width: 24.99999%;
    }

    .w3-col.l4, .w3-third {
        width: 33.33333%;
    }

    .w3-col.l5 {
        width: 41.66666%;
    }

    .w3-col.l6, .w3-half {
        width: 49.99999%;
    }

    .w3-col.l7 {
        width: 58.33333%;
    }

    .w3-col.l8, .w3-twothird {
        width: 66.66666%;
    }

    .w3-col.l9 {
        width: 74.99999%;
    }

    .w3-col.l10 {
        width: 83.33333%;
    }

    .w3-col.l11 {
        width: 91.66666%;
    }

    .w3-col.l12 {
        width: 99.99999%;
    }
}

.w3-content {
    max-width: 980px;
    margin: auto;
}

.w3-rest {
    overflow: hidden;
}

@media (max-width:601px) {
    .w3-modal-content {
        margin: 50px 10px 10px 10px;
        width: auto !important;
    }
}

@media (max-width:768px) {
    .w3-modal-content {
        width: 500px;
    }
}

@media (min-width:992px) {
    .w3-modal-content {
        width: 900px;
    }
}

@media screen and (max-width:601px) {
    .w3-topnav a {
        display: block;
    }
}

@media screen and (max-width:601px) {
    .w3-topnav .w3-dropdown-hover .w3-dropdown-content {
        position: relative;
    }
}

@media screen and (max-width:601px) {
    .w3-topnav {
        text-align: center;
    }
}

@media (max-width:601px) {
    .w3-hide-small {
        display: none !important;
    }
}

@media (max-width:991px) and (min-width:601px) {
    .w3-hide-medium {
        display: none !important;
    }
}

@media (min-width:992px) {
    .w3-hide-large {
        display: none !important;
    }
}

.w3-top, .w3-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.w3-top {
    top: 0;
}

.w3-bottom {
    bottom: 0;
}

.w3-left {
    float: left !important;
}

.w3-right {
    float: right !important;
}

.w3-hide {
    display: none !important;
}

.w3-show {
    display: block !important;
}

.w3-tiny {
    font-size: 10px !important;
}

.w3-small {
    font-size: 12px !important;
}

.w3-medium {
    font-size: 15px !important;
}

.w3-large {
    font-size: 18px !important;
}

.w3-xlarge {
    font-size: 24px !important;
}

.w3-xxlarge {
    font-size: 36px !important;
}

.w3-xxxlarge {
    font-size: 48px !important;
}

.w3-slim {
    font-family: "Segoe UI",Arial,sans-serif !important;
}

.w3-wide {
    font-family: "Segoe UI",Arial,sans-serif !important;
    letter-spacing: 4px;
}

.w3-jumbo {
    font-size: 64px !important;
}

.w3-left-align {
    text-align: left !important;
}

.w3-right-align {
    text-align: right !important;
}

.w3-justify {
    text-align: justify !important;
}

.w3-center {
    text-align: center !important;
}

.w3-circle {
    border-radius: 50% !important;
}

.w3-round-small {
    border-radius: 2px !important;
}

.w3-round, .w3-round-medium {
    border-radius: 4px !important;
}

.w3-round-large {
    border-radius: 8px !important;
}

.w3-round-xlarge {
    border-radius: 16px !important;
}

.w3-round-xxlarge {
    border-radius: 32px !important;
}

.w3-round-jumbo {
    border-radius: 64px !important;
}

.w3-border-0 {
    border: 0 !important;
}

.w3-border {
    border: 1px solid #ccc !important;
}

.w3-border-top {
    border-top: 1px solid #ccc !important;
}

.w3-border-bottom {
    border-bottom: 1px solid #ccc !important;
}

.w3-border-left {
    border-left: 1px solid #ccc !important;
}

.w3-border-right {
    border-right: 1px solid #ccc !important;
}

.w3-margin-0 {
    margin: 0 !important;
}

.w3-margin-2 {
    margin: 2px !important;
}

.w3-margin-4 {
    margin: 4px !important;
}

.w3-margin-8 {
    margin: 8px !important;
}

.w3-margin-12 {
    margin: 12px !important;
}

.w3-margin-16 {
    margin: 16px !important;
}

.w3-margin-24 {
    margin: 24px !important;
}

.w3-margin-32 {
    margin: 32px !important;
}

.w3-margin-64 {
    margin: 64px !important;
}

.w3-margin {
    margin: 16px !important;
}

.w3-margin-top {
    margin-top: 16px !important;
}

.w3-margin-bottom {
    margin-bottom: 16px !important;
}

.w3-margin-left {
    margin-left: 16px !important;
}

.w3-margin-right {
    margin-right: 16px !important;
}

.w3-padding-tiny {
    padding: 2px 4px !important;
}

.w3-padding-small {
    padding: 4px 8px !important;
}

.w3-padding-medium, .w3-padding {
    padding: 8px 16px !important;
}

.w3-padding-large {
    padding: 12px 24px !important;
}

.w3-padding-xlarge {
    padding: 16px 32px !important;
}

.w3-padding-xxlarge {
    padding: 24px 48px !important;
}

.w3-padding-jumbo {
    padding: 32px 64px !important;
}

.w3-padding-0 {
    padding: 0 !important;
}

.w3-padding-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.w3-padding-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.w3-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.w3-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.w3-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.w3-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.w3-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.w3-padding-top {
    padding-top: 8px !important;
}

.w3-padding-bottom {
    padding-bottom: 8px !important;
}

.w3-padding-left {
    padding-left: 16px !important;
}

.w3-padding-right {
    padding-right: 16px !important;
}

.w3-row-padding, .w3-row-padding > .w3-half, .w3-row-padding > .w3-third, .w3-row-padding > .w3-twothird, .w3-row-padding > .w3-quarter, .w3-row-padding > .w3-col {
    padding: 0 8px;
}

.w3-spin {
    animation: w3-spin 2s infinite linear;
    -webkit-animation: w3-spin 2s infinite linear;
}

@-webkit-keyframes w3-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes w3-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.w3-container {
    padding: 0.01em 16px;
}

.w3-example {
    background-color: #f1f1f1;
    padding: 0.01em 16px;
}

.w3-section, .w3-paragraph {
    margin-top: 16px;
    margin-bottom: 16px;
}

.w3-code {
    font-family: Consolas,"courier new";
    font-size: 16px;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
}

.w3-example, .w3-code, .w3-reference {
    margin: 20px 0;
}

.w3-card {
    border: 1px solid #ccc;
}

.w3-card-2, .w3-example {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.w3-card-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.w3-card-8 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.w3-card-12 {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.w3-card-16 {
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21) !important;
}

.w3-card-24 {
    box-shadow: 0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22) !important;
}

.w3-animate-opacity {
    -webkit-animation-name: opac;
    -webkit-animation-duration: 4s;
    animation-name: opac;
    animation-duration: 4s;
}

@-webkit-keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* TOP */
.w3-animate-top {
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
/* LEFT */
.w3-animate-left {
    position: relative;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 0.4s;
    animation-name: animateleft;
    animation-duration: 0.4s;
}

@-webkit-keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}
/* RIGHT */
.w3-animate-right {
    position: relative;
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.4s;
    animation-name: animateright;
    animation-duration: 0.4s;
}

@-webkit-keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}
/* BOTTOM */
.w3-animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
/* COLORS */

.w3-text-blue {
    color: #2196F3 !important;
}

.w3-blue {
    color: #fff !important;
    background-color: #2196F3 !important;
}

.w3-text-light-blue {
    color: #87CEEB !important;
}

.w3-light-blue {
    color: #000 !important;
    background-color: #87CEEB !important;
}

.w3-text-cyan {
    color: #00bcd4 !important;
}

.w3-cyan {
    color: #000 !important;
    background-color: #00bcd4 !important;
}

.w3-text-blue-grey {
    color: #607d8b !important;
}

.w3-blue-grey {
    color: #fff !important;
    background-color: #607d8b !important;
}

.w3-text-green {
    color: #4CAF50 !important;
}

.w3-green {
    color: #fff !important;
    background-color: #4CAF50 !important;
}

.w3-text-light-green {
    color: #8bc34a !important;
}

.w3-light-green {
    color: #000 !important;
    background-color: #8bc34a !important;
}

.w3-text-indigo {
    color: #3f51b5 !important;
}

.w3-indigo {
    color: #fff !important;
    background-color: #3f51b5 !important;
}

.w3-text-purple {
    color: #9c27b0 !important;
}

.w3-purple {
    color: #fff !important;
    background-color: #9c27b0 !important;
}

.w3-text-deep-purple {
    color: #673ab7 !important;
}

.w3-deep-purple {
    color: #fff !important;
    background-color: #673ab7 !important;
}

.w3-text-red {
    color: #f44336 !important;
}

.w3-red {
    color: #fff !important;
    background-color: #f44336 !important;
}

.w3-text-white {
    color: #fff !important;
}

.w3-white {
    color: #000 !important;
    background-color: #fff !important;
}

.w3-text-black {
    color: #000 !important;
}

.w3-black {
    color: #fff !important;
    background-color: #000 !important;
}

.w3-text-grey {
    color: #757575 !important;
}

.w3-grey {
    color: #000 !important;
    background-color: #9e9e9e !important;
}

.w3-text-light-grey {
    color: #f1f1f1 !important;
}

.w3-light-grey {
    color: #000;
    background-color: #f1f1f1 !important;
}

.w3-text-dark-grey {
    color: #3a3a3a !important;
}

.w3-dark-grey {
    color: white;
    background-color: #616161 !important;
}

.w3-text-white-opacity {
    color: rgba(255,255,255,0.65) !important;
}

.w3-text-black-opacity {
    color: rgba(0,0,0,0.60) !important;
}

.w3-text-shadow {
    text-shadow: 1px 1px 1px #444;
    letter-spacing: 2px;
}
